.quotrr {overflow: hidden;}

.locator {
  input[type='text'],
  a {
    display: inline-block;
    max-width: 200px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 50px;
    max-height: 50px;
    padding-bottom: 5px;
    @media #{$large-up} {
      max-width: 290px;
    }
  }
}
.pusher {
  @extend .button;
  @extend .expand;
  @extend .success;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  max-width: 130px !important;
  margin-left: -10px;
}

.firstName,
.lastName,
.city,
.state {
  @extend .small-6;
  @extend .columns;
}

.address,
.addressAdv,
.email,
.phone,
.wq-box  {
  @extend .small-12;
  @extend .columns;
}

.validation div {
  @extend .panel;
  @extend .callout;
  overflow: hidden;
}

.surveyor {
  max-width: 500px;
  .trigger {
    @extend .small-12;
    @extend .columns;
  }
}

.quotrr .wq-box {
  label {
    display: inline-block;
    margin-right: 10px;
    color: white !important;
  }
  span label {
    display: none;
  }
}

.designation {
  font-size: 32px !important;
}

.fillme {
  padding: 10px;
  background-color: $alert-color;
  margin-bottom: 10px;
  label {
    color: white;
  }
}

span.fillme {
  display: inline-block;
  width: 100%;
  color: white
}

.slider-quote {
  @extend .medium-4;
  @extend .large-3;
  @extend .columns;
  @extend .panel;
}

.slider-quote-submit {
  @extend .success;
}

@media #{$small-only} {
  .slider-quote {
    margin-bottom: 0;
}
}

@media #{$medium-up} {
  .slider-quote {
    position: absolute;
    right: 2em;
    top: 2em;
  }
}
.quick-quote {
  margin-top: 30px;
}
.qq-col {
  display: none;
}

.qq-col2 {
  @extend .medium-8;
  @extend .small-8;
  @extend .columns;
  padding-left: 0px !important;
  input#e_2 .e_2 {
    height: 53px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: grey;
    text-transform: uppercase;
    font-size: rem-calc(14);
    padding-left: 30px;
  }
}
 .qq-col3 {
   @extend .medium-4;
   @extend .small-4;
   @extend .columns;
   margin-left: -30px;
  @media #{$medium-up} {
  }
}
#saveForm.button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
  min-width: 120px;
  height: 53px;
}
//quotrr zip
input#dnn_ctr202988_AddWebQuote_WebQuoteControl_txt_zip {
  text-transform: uppercase;
  padding-left: 20px;
}
