$secondary-hero-color: lighten($tertiary-color, 30);

.secondary-hero {
	padding-top: rem-calc(30);
  padding-bottom: rem-calc(30);
	text-align: left;
	border-bottom: 1px solid $secondary-hero-color;
	.item-frame {
		width: 100%;
		text-align: center;
	}
	.item-image {
		max-height: 110px;
	  max-width: 140px;
	  padding-bottom: rem-calc(15);
	  margin-bottom: rem-calc(15);
		border-bottom: 1px solid lighten($secondary-hero-color, 10);
	}
	p {
		margin: 0;
	}
}

@media #{$small-only} {
	.secondary-hero {
		.item {
			text-align: center;
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}
	}
}

@media #{$medium-only} {
	.secondary-hero {
		.item {
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}
	}
}
