.dnnEditState .DnnModule { opacity: 1 !important; }
.DNNEmptyPane { display: none !important; }
.dnnSortable.ui-sortable, .dnnSortable.ui-droppable { padding: inherit; }
.o-aside-pane .ModRevMoonRayFormC, .o-aside-pane .dnnFormAndList { background-color: white; } }
.showControlBar body { margin-top: 53px; }
.showControlBar .fixed, .showConrolBar .blur { top: 53px; }
.showControlBar #canvas { margin-top: -53px; }
#ControlBar table, #ControlBar table * { height: inherit; margin: inherit; padding: inherit; }
html, body.dnnEditState{ overflow-x: hidden; }
[style] { font-family: inherit !important; font-size: inherit !important; font-weight: inherit !important; }
[style], [color] { color: inherit !important; }
h1 b, h1 strong, h2 b, h2 strong, h3 b, h3 strong, h4 b, h4 strong, h5 b, h5 strong, h6 b, h6 strong { font-weight: inherit !important; }
a.button, a.button:hover, a.button:visited, a.button:focus, a.button:active { color: white; }
body form .row .row { margin: 0; }
