.page-template-feature.page-template-2-col {
.feature-wrap {
@extend .make-it-white; //see base.scss
position: relative;
height: 840px;
margin-top: -80px;
background-repeat: no-repeat;
background-color: $primary-color;
background-position: center center;
background-size: cover;
padding: rem-calc(76) 0;
text-shadow: rgb(0,0,0) 1px 1px 0px;
h2 {
font-size: rem-calc(44);
}
.feature-wrap-color {
background-image: linear-gradient(45deg,rgba(0,0,0,.75) 20%, rgba(0,0,0,.1) 100%,transparent);
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
}
#dnn_FeaturePane {
  @extend .columns;
  @extend .small-12;
  @extend .medium-6;
  position: absolute;
  left: 0;
  top: 15%;
  @media #{$medium-up} {
    left: 50%;
    top: 25%;
  }
}
.firstName,
.lastName,
.city,
.state {
@extend .small-6;
@extend .columns;
label {
color: white !important;
}
input[type=text] {
border-bottom: solid white 2px !important;
border: none;
background-color: transparent;
height: rem-calc(24) !important;
box-shadow: none;
color: white;
}
}

.address,
.email,
.phone {
label {
color: white;
}
input[type=text] {
border-bottom: solid white 2px !important;
border: none;
background-color: transparent;
box-shadow: none;
color: white;
height: 30px;
}
}

  [role='main'] {
    padding-top: 50px;
    @media #{$medium-up} {
      padding-top: 30px;
    }
  }
}

