.page-template-feature-small.inner-page-template-2-col {
  .feature-wrap-small {
    @extend .make-it-white; //see base.scss
    background-color: $primary-color;
    background-position: center;
    background-size: cover;
    margin-top: rem-calc(15);
    padding: rem-calc(60) rem-calc(15);
    position: relative;
    text-shadow: rgb(0,0,0) 1px 1px 0px;
    @media #{$small-only} {
      margin-right: 0;
    }
    h1,
    h2,
    h3,
    h4 {
      margin: 0;
    }
    h2 {
      font-size: rem-calc(44);
    }
    .feature-wrap-color {
      background-image: linear-gradient(45deg,rgba(0,0,0,.75) 20%, rgba(0,0,0,.1) 100%,transparent);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
  @media #{$medium-up} {
    .feature-content {
      padding: 0 rem-calc(25) 0 rem-calc(15);
      color: white;
    }
  }

  .o-content-pane {
    @extend .large-8;
    @extend .medium-12;
    @extend .columns;
    padding-top: 70px;
    @media #{$medium-up} {
      padding-top: 30px;
    }
  }
  .o-aside-pane {
    @extend .large-4;
    @extend .medium-12;
    @extend .columns;
    @extend .right;

    &.DNNEmptyPane + .o-content-pane {
      @extend .medium-12;
      @extend .columns;
      border-right: 0;
    }
  }
}
