<%@ Control language="c#" AutoEventWireup="true" Explicit="True" Inherits="DotNetNuke.UI.Skins.Skin" %>
<%@ Register TagPrefix="dnn" Namespace="DotNetNuke.Web.Client.ClientResourceManagement" Assembly="DotNetNuke.Web.Client" %>
<%@ Register TagPrefix="avt" TagName="MyTokens" Src="~/DesktopModules/avt.MyTokens/SkinObjectReplacer.ascx" %>
<%@ Register TagPrefix="ar" TagName="Banner" Src="inc/banner.ascx" %>
<%@ Register TagPrefix="ar" TagName="ContentInfo" Src="inc/contentinfo.ascx" %>

<div class="page-template page-template-feature-small page-template-2-col">
<ar:Banner runat="server" />

<div class="s-cms-content s-cms-content--layout">
  <div id="TopPane" class="o-top-pane" runat="server"></div>
  <div class="u-row">
    <div id="AsidePane" class="o-aside-pane" role="complementary" runat="server"></div>
    <div  class="content" >

      <div class="o-feature-wrap o-feature-wrap--small" style="background-image: url(<avt:MyTokens runat='server' Token='[Tab:Iconfilelarge]' />)">
        <div class="o-feature-wrap__color"></div>
        <div class="u-row">
          <div class="o-feature-wrap__content">
          </div>
        </div>
      </div>
      <div id="ContentPane" class="o-content-pane" runat="server"></div>

    </div>
  </div>
  <div id="BottomPane" class="o-bottom-pane" runat="server"></div>
</div>

<ar:ContentInfo runat="server" />
</div>
