.header-top {
  height: 100px;
}

.logo {
  @extend .columns;
  @extend .medium-6;
  @extend .small-12;
  text-align: center;
  @media #{$medium-up} {
    text-align: left;
  }
}
img#dnn_ctl00_ctl07_imgLogo {
  max-height: 95px;
}

.primary-phone {
  @extend .columns;
  @extend .medium-6;
  @extend .right;
  @extend .hide-for-small-only;
  font-family: $header-font-family;
  text-align: right;
  padding-top: 50px;
  p {
    color: $oil;
    font-size: rem-calc(30);
    text-transform: uppercase;
    margin-bottom: 0px !important;
  }
  a {
    color: $primary-color;
    font-weight: 300;
  }
}
ul.right {
  @extend .small-12;
  @extend .columns;
}

.slider-image {
  @extend .row;
  min-height: 540px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-bar {
  @media #{$large-up} {
    margin-left: 70px;
    background-color: rgba(1, 62, 125, 0);
  }
  .top-bar-section .dropdown li { 
    background-color: $primary-color;
  }
  .title-area h1 {display: none;}
  .toggle-topbar.menu-icon {
  }
}

.contain-to-grid {
  width: 100% !important;
  background: $primary-color;
}

.nav-wrap {
  background-color: $primary-color;
  background-image: url(../../images/pattern.png);
}

.right-col {
  text-transform: uppercase;
  margin-right: 32px;

  h4 a {
    @media #{$small-only} {
      display: none;
    }
    color: white;
    font-size: rem-calc(14);
    line-height: 4;
  }
  i {
    font-size: rem-calc(18);
    color: rgba(255,255,255,0.60);
    padding-right: 10px;
    padding-left: 10px;
  }
}
.connect-icons {
  margin-top: 15px;
  a {
    font-size: rem-calc(18);
    color: rgba(255,255,255,0.60);
    padding-right: 15px;
    padding-left: 15px;
  }
}
section.feature-wrap.primary-color {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  @media #{$small-only} {
    background-position-x: 40%;
  }
}
  .homepage-hero-sidebar {
    background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.42) 51%, #000000 100%);
    // margin-top: -186px;
    @media #{$medium-up} {
      // margin-top: -133px;
    }
    padding: 20px;
  }
