.quotrr { overflow: hidden; }

.locator {
  input[type='text'],
  a {
    display: inline-block;
    max-width: 300px;
  }
}

.pusher {
  @extend .button;
  @extend .expand;
  @extend .warning;
  border-radius: 8px;
  font-size: rem-calc(18);
  font-family: Oswald,Arial,sans-serif;
  text-transform: uppercase;
}

.firstName,
.lastName,
.city,
.state {
  @extend .small-6;
  @extend .columns;
}

.address,
.addressAdv,
.email,
.phone,
.wq-box  {
  @extend .small-12;
  @extend .columns;
}

.validation div {
  @extend .panel;
  @extend .callout;
  overflow: hidden;
}

.surveyor {
  max-width: 500px;
  .trigger {
    @extend .small-12;
    @extend .columns;
  }

}

.quotrr .wq-box {
  label {
    display: inline-block;
    margin-right: 10px;
  }
  span label {
    display: none;
  }
}  

.designation {
  font-size: 32px !important;
}

.fillme {
  padding: 10px;
  background-color: $alert-color;
  margin-bottom: 10px;
  label {
    color: white;
  }
}

span.fillme {
  display: inline-block;
  width: 100%;
  color: white
}

.slider-quote {
  @extend .medium-4;
  @extend .large-3;
  @extend .columns;
  @extend .panel;
}

.slider-quote-submit {
  @extend .success;
}

@media #{$small-only} {
  .slider-quote {
    margin-bottom: 0;
  }
}

@media #{$medium-up} {
  .slider-quote {
    position: absolute;
    right: 2em;
    top: 2em;
  }
}

.qq-col {
  display: none;
}

.qq-col2 {
  @extend .columns;
  @extend .medium-6;
  @extend .small-12;
  input#e_2 {
    border-radius: 8px;
    height: 50px;
    @media #{$large-up} {
      float: right;
      max-width: 400px;
      margin-right: 110px;
    }
  }
}

.qq-col3 {
  @extend .columns;
  @extend .medium-6;
  @extend .small-12;
  div#saveForm {
    border-radius: 8px;
    font-size: 25px;
    font-family: $header-font-family;
    text-transform: uppercase;
    padding: 6px;
    max-width: 400px;
    i {
      padding-left: 20px;
    }
  }
}
.quick-quote {
  @extend .full-width;
  @extend .columns;
  background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.42) 51%, #000000 100%);
  margin-top: -170px;
  padding-top: 25px;
  padding-bottom: 10px;
  @media #{$medium-up} {
    margin-top: -100px;
    padding-left: 59px;
  }
}
