.header-wrap {
  @extend .full-width;
}

a.logo {
  position: absolute;
  z-index: 1;
  padding: 20px;
}

.page-template-2-col-index { 
  .feature-wrap {
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    background-position: center center;
    @media #{$medium-up} {
    height: 850px;
  }
  h2 {
    color: white;
    font-size: rem-calc(110);
    @media #{$medium-up} {
      font-size: rem-calc(45);
    }
  }
    .feature-wrap-color {
      background-position: bottom center;
      height: 400px;
      @media #{$medium-up} {
        height: 704px;
      }
      @media #{$small-only} {
        margin-top: -74px;
      }
    }
  }
}

// mini-navigation
.c-banner__navigation {
  position: relative;
  z-index: 1;
  float: right;
  margin-top: 20px;
}

ul.c-banner__mini-nav {
  @extend .medium-6;
  @extend .columns;
  @extend .row;
  @extend .right;
  list-style-type: none;
  position: absolute;
  right: 180px;
  width: 160px !important;
  li {
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-weight: 800;
    a {
      color: white;
    }
  }
}
.c-banner__phone-sm {
  position: relative;
  z-index: 1;
  bottom: 25px;
  right: 32px;
  .fa {
    color: $alert-color;
    font-size: rem-calc(24);
    float: right;
  }
}
.c-banner__phone-md {
  color: $alert-color;
  font-size: rem-calc(14);
  font-weight: 800;
  margin-right: 80px;
}
// optional slider
.homepage-hero {
  background-size: cover;
  background-position: 10% 10%;
  position: relative;
  bottom: 110px;
  height: 100vh;
  @media #{$medium-up}{
    height: 800px;
    background-position: center center;
  }
}

.homepage-hero-sidebar {
  @extend .medium-5;
  @extend .columns;
  @media #{$medium-up} {
    padding: 0;
    min-height: 500px;
}
}
.homepage-hero-content {
  position: relative;
  top: 10%;
  transform: translateY(-75%);
  padding: 140px 5px;
  @media #{$medium-up} {
    top: 30%;
  }
}

.homepage-hero-header {
  @extend .small-12;
  @extend .medium-12;
  position: absolute;
  top: 150%;
  padding: 0 10px;
  @media #{$large-up}{
    top: 390px;
}
span.c__h21 {
  color: white;
  font-size: rem-calc(50);
  line-height: 1.1;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 1px .97px rgba(0,0,0,.45);
  @media #{$medium-up} {
    font-size: rem-calc(90);
  }
  @media #{$large-up} {
    font-size: rem-calc(110);
  }
}
span.c__h22 {
  color: #B0D122;
  font-size: rem-calc(57);
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0 1px .97px rgba(0,0,0,.45);
  line-height: .45;
  @media #{$medium-up} {
    font-size: rem-calc(100);
  }
  @media #{$large-up} {
    font-size: rem-calc(140);
  }
}
span.c__tagline {
  font-size: rem-calc(17);
  color: white;
  text-shadow: 0 1px .97px rgba(0,0,0,.45);
  font-weight: 700;
  @media #{$medium-up} {
      font-size: rem-calc(31);
    }
  }
}

.slider-wrap {
  width: 100%;
  position: absolute;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.10) 21%, rgba(0,0,0,0.35) 85%, #252525 100%);
  height: 350px;
  top: -31px;
  .slider-image{
    width: 100%;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
