 $border-bottom-color: #908787;
  $footer-hover-color: lighten($primary-color, 10);
.footer-top {
  @extend .full-width;
  background: $smoke;
  h4 {
    @extend .row;
    @extend .columns;
    @extend h2;
    color: $primary-color;
    text-align: left;
    margin-bottom: 40px;
    margin-right: 100%;
  }
}

.c-footer-top__button {
  text-align: center;
  @media #{$medium-up} {
    float: left;
  }
}
.c-footer-top__1 {
  color: white;
  text-transform: uppercase;
  font-size: rem-calc(29);
  font-weight: 800;
  line-height: 1;
}
.c-footer-top__2 {
  color: white;
  text-transform: uppercase;
  font-size: rem-calc(29);
  line-height: 1;
}

.footer-connected {
  .fa {
    font-size: rem-calc(17);
    padding-right: 10px;
    padding-top: 27px;
  }
}
.c-footer-bottom {
  @extend .row;
  @extend .full-width;
  background: $primary-color;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  .c-footer-bottom__contact {
    p {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  .c-footer-bottom__copyright {
    a {
      color: white;
      text-transform: uppercase;
      &:hover {
        color: $footer-hover-color;
    }
  }
}
.c-footer-bottom__menu{
  @extend .medium-6;
  @extend .small-12;
  @extend .columns;
  @media #{$medium-up} {
  padding-left: 5% !important;
}

h4 {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  max-width: 350px;
  padding-bottom: 10px;
  line-height: .9;
}

  ul {
    list-style: none;
    margin-left: 0;
    a {
    color: white;
      &:hover {
      color: $footer-hover-color;
      }
    }

    li {
      border-bottom: $border-bottom-color 1px solid;
      text-transform: uppercase;
      font-size: rem-calc(14);
      font-weight: 700;
      line-height: 3.5;
      max-width: 250px;
      &:last-child {
        border-bottom: 0 !important;
      }
    }
  }
}

.c-footer-bottom__contact {
  @extend .medium-6;
  @extend .small-12;
  @extend .columns;
  max-width: 350px;
  h4 {
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    border-bottom: $border-bottom-color 1px solid;
    padding-bottom: 10px;
  }

  p {
    color: white;
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-weight: 700;
    line-height: 3.5;
    border-bottom: $border-bottom-color 1px solid;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-size: rem-calc(14);
    font-weight: 700;
    line-height: 3.5;
    &:hover {
      color: $footer-hover-color;
    }
  }
}
.c-footer-bottom__address {
  .span:first-child {
    text-transform: uppercase;
  }
}
.c-footer-bottom__signin {
  color: white;
    a {
      color: white;
      text-transform: uppercase;
      &:hover {
        color: $footer-hover-color;
      }
    }
  }
}

.c-footer-bottom__line {
  @extend .medium-12;
  @extend .columns;
  text-align: center;
  padding: 20px;
  font-size: rem-calc(14);
  text-transform: uppercase;
  }

span.c-footer-bottom__name {
  text-transform: uppercase;
  font-size: rem-calc(14);
}
