[role='main'] {

  .content {
    @extend .medium-12;
    @extend .columns;
    @extend .full-width;
    min-height: 25em;
  }
  .aside {
    @extend .medium-12;
    @extend .columns;
    @extend .right;

    &.DNNEmptyPane + .content {
      @extend .medium-12;
      border-right: 0;
    }
  }

  // Half size HR
  .half-rule {
    margin: 40px auto;
    width: 100px;
  }
<<<<<<< HEAD
}

//top Let's Talk
.c-top {
  @extend .full-width;
  background: $smoke;
  h4 {
    @extend .row;
    @extend .columns;
    @extend h2;
    color: darken($primary-color, 5%);
    text-align: left;
    margin-bottom: 40px;
    margin-right: 100%;
    text-transform: uppercase;
    font-weight: 800;
    line-height: .8;
  }
  .social-top {
    float: left;
    margin-top: -30px;
    .fa {
      padding-right: 20px;
    }
  }
  .button {
    text-align: center;
    font-size: rem-calc(17) !important;
    height: auto !important;
  }
=======
>>>>>>> 2e7b68debb2ae86e7921712640ae9aad8835ed5a
}

//homepage toppane

#dnn_TopPane {
  margin-top: -110px;
}
.grid-icon {
  padding: 0 60px;
  @media #{$medium-up} {
    padding: 0 30px;
  }
  @media #{$large-up} {
    padding: 0 60px;
  }
}
h3.grid-text {
  font-size: rem-calc(25);
  font-weight: 800;
<<<<<<< HEAD
  color: darken($primary-color,10%);
=======
  color: darken($primary-color, 5%);
>>>>>>> 2e7b68debb2ae86e7921712640ae9aad8835ed5a
  text-transform: capitalize;
  line-height: 33px;
}
p.grid-description {
  color: lighten($primary-color, 10%);
  font-size: rem-calc(12);
}
@media #{$medium-up} {
  [role='main'] {
    .aside {
      padding-left: 20px;
    }
  }
}
// photo grid
.niche-grid-items {
  min-height: 270px;
  h3.grid-text-image {
    font-weight: 400;
    font-size: rem-calc(25);
    color: $secondary-color;
  }
  a:focus, a:hover {
    color: lighten($secondary-color, 10%);
  }
}
