.quotrr { overflow: hidden; }

.locator {
  input[type='text'],
  a {
    display: inline-block;
    max-width: 300px;
    height: 50px;
  }
}

.pusher {
  @extend .button;
  @extend .expand;
  @extend .alert;
  text-shadow: none !important;
}

.firstName,
.lastName,
.city,
.state {
  @extend .small-6;
  @extend .columns;
}

.address,
.addressAdv,
.email,
.phone,
.wq-box  {
  @extend .small-12;
  @extend .columns;
}

.validation div {
  @extend .panel;
  @extend .callout;
  overflow: hidden;
}

.surveyor {
  max-width: 500px;
  .trigger {
    @extend .small-12;
    @extend .columns;
    .button {
      @extend .alert;

    }
  }
}

.quotrr .wq-box {
  label {
    display: inline-block;
    margin-right: 10px;
}
span label {
  display: none;
  }
}

.designation {
  font-size: 32px !important;
}

.fillme {
  padding: 10px;
  background-color: $alert-color;
  margin-bottom: 10px;
  label {
    color: white;
  }
}

span.fillme {
  display: inline-block;
  width: 100%;
  color: white
}

.slider-quote {
  @extend .medium-4;
  @extend .large-3;
  @extend .columns;
  @extend .panel;
}

.slider-quote-submit {
  @extend .success;
}

@media #{$small-only} {
  .slider-quote {
    margin-bottom: 0;
  }
}

@media #{$medium-up} {
  .slider-quote {
    position: absolute;
    right: 2em;
    top: 2em;
  }
}
//quick-quote
.quick-quote {
  @extend .small-12;
  @extend .medium-6;
  float: right;
  margin-top: -70px;
  margin-right: 60px;
}
select#e_1 {
  display: none;
}
.qq-col2 {
  @extend .small-12;
  @extend .medium-6;
  min-width: 200px;
  max-width: 200px;
  position: absolute;
  bottom: 10px;
  right: 325px;
  @media #{$small-only} {
    display: none;
  }
  input#e_2 {
    height: 50px;
    text-transform: uppercase;
    font-size: rem-calc(14);
    color: lighten($primary-color, 20%);
    font-weight: 800;
    padding-left: 30px;
  }
}
.qq-col3 {
  @extend .small-12;
  @extend .medium-6;
  float: right;
  min-width: 280px;
  max-width: 280px;
  position: absolute;
  height: 50px;
  bottom: 70px;
  right: 50px;
  @media #{$medium-up} {
    min-width: 200px;
    max-width: 200px;
    bottom: 26px;
    right: 115px;
  }
}

.button.alert {
  height: 50px;
  color: $primary-color !important;
  font-weight: 800;
  text-transform: uppercase;
  font-size: rem-calc(14);
}
