// DotNetNuke
.dnnEditState .DnnModule { opacity: 1 !important; }
.DNNEmptyPane { display: none !important; }
.dnnSortable { &.ui-sortable, &.ui-droppable { padding: inherit; } }
.aside { .ModRevMoonRayFormC, .dnnFormAndList { background-color: white; } }

// Control Bar
.showControlBar {
  $ControlBarHeight: 53px;
  body { margin-top: $ControlBarHeight; }
  .fixed, .blur { top: $ControlBarHeight; }
  #canvas { margin-top: (-$ControlBarHeight); }
}

#ControlBar table {
  &, & * {
    height: inherit;
    margin: inherit;
    padding: inherit;
  }
}

// Editor Controls
html, body.dnnEditState{
  overflow-x: hidden;
}

// Content Editor
[style] {
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}
[style], [color] {
  color: inherit !important;
}

h1, h2, h3, h4, h5, h6 {
  b, strong {
    font-weight: inherit !important;
  }
}
h1 {
  @media #{$small-only}{
    font-size: rem-calc(57);
  }
}
h2 {
  @media #{$small-only} {
    font-size: rem-calc(45);
    line-height: 42px;
  }
}
h1, h2 {
  text-transform: uppercase;
  color: lighten($primary-color, 20%);
  font-weight: 800;
  line-height: .8;
}
h3 {
  text-transform: uppercase;
  color: $secondary-color;
  font-weight: 800;
}
a.button {
  &, &:hover, &:visited, &:focus, &:active {
    color: white;
  }
}

body form .row .row {
  margin: 0 rem-calc(0);
}

.Normal, .NormalDisabled, .NormalDeleted {
  color: $body-font-color;
  font-size: $base-font-size;
}
