.showControlBar {
  body { margin-top: 53px; }
  .fixed, .blur { top: 53px; }
  #canvas { margin-top: -53px; }
}

.feature-wrap {
  background-size: cover;
  background-color: $orbit-caption-bg;
  background-position: 80% 0%;
  padding: 1rem 0;
  height: 550px;
  margin-bottom: 100px;
  position: relative;

  .subheader {
    font-style: italic;
  }

  .logo img {
    height: 85px;
    margin: 2rem -7rem 5rem;
    padding-left: 1rem;
  }

  // Quote Form
  .quote {
    background-color: rgba(0,0,0,0.4);
    &, input[type="submit"] {
      font-family: $header-font-family !important;
    }
    input {
      margin-bottom: 0;
    }
    input[type="submit"] {
      font-size: rem-calc(30);
    }
  }
  .quote-zip {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white; 
    font-size: 30px;
    padding: 35px 20px;
    text-align: center;
    color: white;
    &:focus {
      background-color: transparent;
      border-bottom: 1px solid $alert-color;
    }
  }
}

// Page Title
.embelishment {
  position: absolute;
  bottom: -39px;
  h1::first-line {
    color: $alert-color;
    font-size: 2em;
    position: relative;
    z-index: 10;
  }
  h1 {
    font-family: $body-font-family !important;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .9;
    font-size: 1.9em;
    display: block;
  }
}

// Page Title and Description
h1, h2 {
  color: $orbit-caption-font-color;
}

button.alert, .button.alert, .alert.pusher {
  background-color: transparent !important;
  border-color: transparent !important;
  color: $alert-color;
}
.button:hover {
  @extend .animated;
  @extend .swing;
}
.orbit-caption {
  h1, h2, h3, h4, h5, h6 {
    color: $orbit-caption-font-color;
  }
}

ul.off-canvas-list {
  padding-top: 1.25rem;
}

.right-off-canvas-toggle {
  float: right;
  position: absolute;
  top: 1em;
  right: 3em;
  z-index: 10;
  font-size: 22px;
  text-transform: uppercase;
  text-shadow:1px 1px 1px black !important;
  &, &:hover, &:focus, &:active {
    color: $alert-color !important;
  }
}  

.menu-icon {
  text-shadow:1px 1px 1px black;
  position: fixed;
  top: 3rem;
  right: 3rem;
  span:after {
    content: '';
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -0.44444rem;
    right: -1.5rem;
    box-shadow: 0 0px 0 1px $alert-color, 0 1px 0 1px black, 0 7px 0 1px $alert-color, 0 8px 0 1px black, 0 14px 0 1px $alert-color, 0 15px 0 1px black;
    width: 0.88889rem;
  }
}


ul.off-canvas-list li label a {
  padding: 0 !important;
  border-bottom: none !important;
  color: $off-canvas-label-color !important;
  &:hover {
    background: $off-canvas-label-bg !important;
  }
}

// block-grid-4
.item a {
  color: $body-font-color;
  text-transform: uppercase;
}

.item-frame {
  display: block;
  margin: 0 auto;
  height: 160px;
  transform-style: preserve-3d;
}

.item-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// fancy panel banner ad
.panel.fancy {
  background-image: url('#{$image}make-mama-proud.jpg');
  background-position: 50% -100% !important;
  background-size: cover;
  border: none;
  h2 {
    font-style: italic;
    margin: 18px 0;
  }
  .button {
    opacity: .85;
    padding:.5rem 3rem .5rem;
  }
}

@media #{$medium-only} {

  .feature-wrap {

    // Page Title
    .embelishment {
      bottom: -66px;
      h1::first-line {
        font-size: 2.25em;
      }
      h1 {
        line-height: .9;
        font-size: 3.5em;
      }
    }
  }

  .panel.fancy {
    .button.large {
      font-size: 1em;
      padding: 0.5rem 2rem;
    }
  }
}

@media #{$small-only} {
  
  .button.large {
   font-size: 1.5em;
  }
  .feature-wrap {
    .quote {
      position: relative;
      bottom: 17rem;
      width: 18rem; 
    }
    h2.subheader {
      position: relative;
      bottom: 10rem;
      font-size: 1.25em;
    }
    .logo img {
    height: 50px;
    margin: -1.5em 2em 12rem;
    padding-left: 1rem;
    }
  }
  #dnn_ctr175382_ModuleContent.DNNModuleContent.ModDDRMenuC {
    position: relative;
    bottom: 5.5rem;
  }
}

@media #{$medium-up} {
  .feature-wrap {
    padding: 1em 0;
    height: 850px;
    .logo img {
      padding-left: 6rem;
    }
  }

  .panel.fancy {
    .button.large {
      font-size: 1.5em;
      line-height: 2;
    }
  }
  .footer-top {
    .button.large {
      font-size: 1.5em;
    }
  }
}

@media #{$large-up} {
  .feature-wrap {
    .panel.fancy {
      .button.large {
        font-size: 2em;
        line-height: 2.4;
      }
    }
    // Page Title
    .embelishment {
      bottom: -85px;
      h1::first-line {
        font-size: 3em;
      }
      h1 {
        line-height: .9;
        font-size: 4.5em;
      }
    }
  }
}
