.footer-top {
  background-color: $primary-color;
  color: white;
  h2 {
    color: white;
    padding: 16px 0;
    font-size: 2.5em;
    text-align: center;
    line-height: 1.6;
  }
  .button.large {
    font-size: 2em;
    span.arrow {
      color: $alert-color;
    }
  }
}

.footer-bottom {
  .inline-list {
    font-weight: bold;
  }
  .heart {
    color: #7ED321;
  }
}
@media #{$medium-up} { 
  .footer-top {
    h2 {
    color: white;
    padding: 16px 0;
    font-size: 2em;
    }
    .button.large {
      font-size: 1.5em;
      line-height: 2;
    }
  }
}

