.inner {
  .niche-grid-items {
    /*		border: 1px solid grey;*/
    p {
      color: $body-font-color;
      text-transform: uppercase;
      padding-top: 1rem;
      padding-left: 1rem;
      font-weight: bolder;
              }
      }	
}

.inner-hero {
  height: 300px;
  width: 200% !important;
  margin-left: -20rem;
  background-size: cover;

}
.inner-wrap-color {
  background: rgba(200, 54, 54, 0.5); 
}

.feature-wrap-inner {
  background-size: cover;
  background-color: $orbit-caption-bg;
  background-position: 80% 0%;
  padding: 1rem 0;
  height: 450px;
  margin-bottom: 100px;
  position: relative;

  .subheader {
    font-style: italic;
      }

      .logo img {
        height: 85px;
        margin: 2rem 0rem 5rem;
      }

      // Quote Form
      .quotrr {
        background: rgba(0, 0, 0, 0.4); 
        &, input[type="submit"] {
          font-family: $header-font-family !important;
          padding-top: .1rem;
          position: relative;
  }
  input[type="submit"] {
    font-size: rem-calc(30);
    color: $alert-color;

              }
              h1 {
                color: white;
                font-style: italic;
              }
              input {
                background-color: transparent;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 1px solid white; 
                font-size: rem-calc(20);
                //padding: 35px 20px;
                text-align: center;
                color: white;
                margin-bottom: 0px;
                &:focus {
                  background-color: transparent;
                  border-bottom: 1px solid $alert-color;
          }
        }
      }
}
.dwn {
  .pusher {
    background-color: transparent;
    border-color: transparent !important;
    color: $alert-color;
    font-family: $header-font-family !important;
    font-size: 1.5rem;
 }
}

// Page Title
.embelishment-inner {
  position: absolute;
  bottom: -39px;
  h1::first-line {
    color: $alert-color;
    font-size: 4.5em;
    line-height: .9;
    position: relative;
    z-index: 10;
}
h1 {
  font-family: $body-font-family !important;
  font-weight: bold;
  text-transform: uppercase;
  line-height: .25;
  font-size: 3.5em;
  display: block;
}
}

// block-grid-4
.item a {
  color: $body-font-color;
  text-transform: uppercase;
}

.item-frame {
  display: block;
  margin: 0 auto;
  height: 160px;
  transform-style: preserve-3d;
}

.item-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// fancy panel banner ad
.panel.fancy {
  background-image: url('#{$image}make-mama-proud.jpg');
  background-position: 50% -80%;
  background-size: cover;
  border: none;
  h2 {
    font-style: italic;
    margin: 18px 0;
}
.button {
  opacity: .85;
}
}

//page-template-2-col-quote
.page-template-2-col-quote {
  .feature-wrap .embelishment h1 {
    line-height: .9;
 }
 // Quote Form
 .quotrr {
   &, input[type="submit"] {
     font-family: $header-font-family !important;
     background-color: rgba(0,0,0,0.4);

  }
  input[type="submit"] {
    font-size: rem-calc(30);
  }
  h1 {
    color: white;
    font-style: italic;
  }
  input {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid white; 
    font-size: rem-calc(20);
    //padding: 35px 20px;
    text-align: center;
    color: white;
    margin-bottom: 0px;
    &:focus {
      background-color: transparent;
      border-bottom: 1px solid $alert-color;
    }
  }
}
.dwn {
  .pusher {
    background-color: transparent;
    border-color: transparent !important;
    color: $alert-color;
    font-family: $header-font-family !important;
    font-size: 1.5rem;
  }
}
}

span.item-name {
  font-size: rem-calc(30);
  line-height: .9;
  font-weight: bolder;
  &:hover {
    background-color: $alert-color;
      }
    }
    // media queries

    @media #{$small-only} {
      .button.large {
        font-size: 1.5em;
}
.feature-wrap-inner {
  .subheader {
    position: relative;
    bottom: 9.5rem;
    font-size: 1.25em;
  }
  .logo img {
    height: 50px;
    margin: 2rem 2rem 12rem;
  }
}
.page-template-2-col-quote {
  .feature-wrap {
    .embelishment h1 {
      line-height: 1.19;
      font-size: 1.25em;

    }
  }
  .quotrr {
    position: relative;
    bottom: 9.5rem; 
    input[type="submit"] {
      font-size: rem-calc(19);
      padding: 0px;  
    }
  }
}
.page-template-2-col-inner {
  .quotrr {
    position: relative;
    bottom: 9.5rem;
    input[type="submit"] {
      font-size: rem-calc(19);
      padding: 0px;
    } 
    h1 {
      font-size: rem-calc(14);
    }
  }
  .embelishment-inner {
    bottom: -85px;
    h1::first-line {
      font-size: 2em;
      line-height: .75;
      }
      h1 {
        line-height: 1.7;
        font-size: 2.9em;
      }
    }
  }
}  

@media #{$medium-up} {
  .feature-wrap-inner {
    padding: 1em 0;
    height: 850px;
}
.embelishment-inner {
  bottom: -85px;
  h1::first-line {
    font-size: 3em;
    }
    h1 {
      line-height: 1.2;
      font-size: 3.5em;
    }
  }
}

@media #{$large-up} {
  .feature-wrap {

    // Page Title
    .embelishment-inner {
      bottom: -85px;
      h1::first-line {
        font-size: 3em;
    }
    h1 {
      line-height: 1.49;
      font-size: 4.5em;
    }
  }
}
}
