.page-template-2-col-wide {
  .logo img {
    height: 50px;
    margin: 2rem 0rem 3rem;
    padding-left: 1rem;
  }
  .headline {
    color: $alert-color;
    font-size: 2em;
    background: $primary-color;
    font-family: inherit;
    text-transform: uppercase;
    text-align: left;
    margin-left: .75rem;
    width: 13rem;
    font-weight: bolder;
  }
  .header-wrap {
    background-size: cover;
    position: relative;
    background-position: 80% 0%;
    padding: 1rem 0;
    height: 275px;
  }
  .grid-simple {
    padding-left: 2rem;
    a img {
      display: none;
    }
  }
  .member {
    img {
      background: transparent;
      padding: 5px 10px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      -webkit-filter: unquote("grayscale(1)");
      filter: unquote("grayscale(1)");
    }

    .th {
      box-shadow: none;
      border: 2rem solid white;
    }
    h2 {
      padding-left: 7rem;
    }
    .MDTitle {
      padding-left: 7rem;
    }
    .inline-list {
      padding-left: 7rem;
    }
  }
}
@media #{$medium-up} {
  .page-template-2-col-wide {
    .logo img {
      height: 85px;
      margin: 2rem 1.5rem 5rem;
      padding-left: 1rem;
    }
    .headline {
      font-size: 4.5em;
      margin-left: 5rem;
      width: 56rem;
    }
    .header-wrap {
      height: 375px;
    }
  }
}
