.quotrr { overflow: hidden; 

}
.state label { display: none; }

.pusher {
  @extend .button;
  @extend .expand;
}

.locator {


}

.firstName, .lastName, .city, .state {
  @extend .small-6;
  @extend .columns;
}

.address, .addressAdv, .email, .phone {
  @extend .small-12;
  @extend .columns;
}

.validation div {
  @extend .panel;
  @extend .callout;
  overflow: hidden;
}

.surveyor {
  .trigger {
    @extend .small-12;
    @extend .columns;
  }
}
@media #{$small-only} {
  .feature-wrap .subheader h1 {
    position: relative;
    top: 8rem;
    font-size: 1em;
  }
  .quote {
    margin-top: 8rem;
    width: 15rem;
  }
  .quotrr {
  }
  .page-template-2-col-quote {
   .quotrr {
      padding-top: .1rem;
      h1 {
        font-size: 1.25em !important;
      }
    } 
  }
  .page-template-2-col-quote {
    .quotrr {
      padding-top: .1rem;
      h1 {
        font-size: 1.25em;
      }
    }
  }
}
