.top-bar {
  background: transparent;
}

.top-bar-section {
  background: transparent;
}

// Offcanvas
.off-canvas-list > li > a {
  font-size: rem-calc(22);
}
.off-canvas-list {
  display: none;
  list-style: none !important;
}
.off-canvas-submenu {
  list-style: none !important;
  .off-canvas-list & a {
    padding: .25rem 1.25rem;
 }
}
.menu-icon {
  color: $primary-color;
  font-size: rem-calc(14);
  position: relative;
  @media #{$medium-up} {
    border: 1px solid $primary-color;
    border-radius: 30px;
    line-height: 1.5;
    margin-top: -10px;
    min-width: 94px;
    padding: 9px 12px 9px 0;
    transition-duration: .3s;
    &:hover {
      background-color: $primary-color;
      color: $white;
      span::after { box-shadow: 0 0 0 1px $white, 0 7px 0 1px $white, 0 14px 0 1px $white; }
  }
}
span {
  @extend %icon;
  border: 1px solid $primary-color;
  @media #{$medium-up} {
    border: 0;
    height: auto;
    width: auto;
  }
  &::after {
    left: 17px;
    top: 22px;
    transition-duration: .3s;
    @media #{$medium-up} {
      left: 15px;
      top: 21px;
    }
  }
}
}
.slider-item {
  height: 100vh;
}
.slider-image {
  height: 100vh !important;
  background-repeat: no-repeat;
}
.homepage-hero-content {
  @extend .columns;
  @extend .large-6;
  @extend .medium-6;
  @extend .small-12;
  @media #{$large-up} {
    margin-top: -40rem;
    float: right;
    .logo img {
      max-width: 124px;
  }
}
.homepage-hero-wrap {
  background-image: linear-gradient(-180deg, rgba(73,73,73,0.00) 0%, rgba(26,26,26,0.64) 27%, rgba(47, 44, 44, 0.87) 70%, #3F3D3D 100%);
  height: 500px !important;
  margin-top: -500px;
}

@media #{$medium-up} {
  margin-top: -30rem;
  float: right;
  .logo img {
    max-width: 124px;
  }
}
.logo img {
  max-width: 120px;
  padding-bottom: 20px;
  }
}

span.first {
  font-size: rem-calc(40);
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

span.second {
  font-size: rem-calc(40);
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.support-tagline { 
  margin-top: -10px;
  margin-bottom: 30px;
  span {
    color: white;
    font-size: rem-calc(20);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
  }
}
