.quotrr { overflow: hidden; }

.locator {
  input[type='text'],
  a {
    display: inline-block;
    max-width: 300px;
  }
}

.pusher {
  @extend .button;
  @extend .expand;
}

.firstName,
.lastName,
.city,
.state {
  @extend .small-6;
  @extend .columns;
}

.address,
.addressAdv,
.email,
.phone,
.wq-box  {
  @extend .small-12;
  @extend .columns;
}

.validation div {
  @extend .panel;
  @extend .callout;
  overflow: hidden;
}

.surveyor {
  max-width: 500px;
  .trigger {
    @extend .small-12;
    @extend .columns;
  }

}

.quotrr .wq-box {
  label {
    display: inline-block;
    margin-right: 10px;
  }
  span label {
    display: none;
  }
}  

.designation {
  font-size: 32px !important;
}

.fillme {
  padding: 10px;
  background-color: $alert-color;
  margin-bottom: 10px;
  label {
    color: white;
  }
}

span.fillme {
  display: inline-block;
  width: 100%;
  color: white
}

.slider-quote {
  @extend .medium-4;
  @extend .large-3;
  @extend .columns;
  @extend .panel;
}

.slider-quote-submit {
  @extend .success;
}

@media #{$small-only} {
  .slider-quote {
    margin-bottom: 0;
  }
}

@media #{$medium-up} {
  .slider-quote {
    position: absolute;
    right: 2em;
    top: 2em;
  }
}
.qq-col {
  display: none;
}

.qq-col2 {
  max-width: 310px;
  input#e_2 {
    height: 50.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color: grey;
    text-transform: uppercase;
    font-size: rem-calc(14);
    padding-left: 30px;
  }
}

.qq-col3 {
  margin-top: -14.2%;
  margin-left: 60%;
}
#saveForm.button {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-weight: bold;
}
