.c-homepage-hero__background {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -80px;
  min-height: 990px;
  position: relative;
}
.u-row {
  position: relative;
}
.c-banner__phone-sm {
  @extend .small-6;
  @extend .columns;
  float: right;
  position: relative;
  z-index: 1;
  bottom: 22px;
  a {
    color: $success-color;
    .fa {
      padding-right: 5px;
    }
  }
}
.page-template-index .offcanvas-menu-icon {
  color: white !important;
  span::after {
    box-shadow: 0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff !important;
  }
}
.c-banner__phone-md {
  float: right;
  color: white;
  font-family:  'Open Sans', Helvetica, sans-serif;
  margin-top: -26px;
  padding-right: 10px;
  padding-left: 10px;
}

.c-banner__navigation {
  position: relative;
  z-index: 1;
}

ul.c-banner__mini-nav {
  @extend .medium-6;
  @extend .columns;
  @extend .row;
  @extend .right;
  list-style-type: none;
  display: inline;
  float: right;
  clear: both;
  margin-top: -26px;
  li {
    float: left;
    padding-right: 30px;
    text-transform: uppercase;
    a {
      color: white; //change if light background
    }
  }
}

.c-banner__brand {
  padding-top: 40px;
  @media #{$medium-up} {
    padding-top: 220px;
  }
  img#dnn_ctl01_imgLogo {
    max-height: 80px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.c-banner__brand1 {
    font-size: rem-calc(40);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  .c-banner__brand2 {
    font-size: rem-calc(40);
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-family: 'Open Sans', Helvetica, sans-serif;
  }
  .c-banner__tagline {
    color: white;
    font-size: rem-calc(17);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    margin-top: -10px;
    margin-left: 5px;
    line-height: 1;
  }
}
.c-homepage-hero__text {
  @extend .medium-6;
  @extend .small-12;
  @extend .columns;
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 1;
  @media #{medium-up} {
    top: 0;
  }
}

.c-homepage-hero__scrim {
  background-image: linear-gradient(-180deg, #3B3939 0%, rgba(54,52,52,0.60) 9%, rgba(47,46,46,0.00) 19%, rgba(29,28,28,0.00) 56%, rgba(40,40,40,0.61) 68%, #3B3939 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.o-feature-pane {
  padding-top: 40px;
  @media #{$medium-up}{
    padding-top: 130px;
  }
}
