[role='main'] {
  display: block;
  .o-content-pane {
    @extend .medium-8;
    @extend .columns;
    padding-top: 70px;
    @media #{$medium-up} {
      padding-top: 30px;
    }

  .o-aside-pane {
    @extend .medium-4;
    @extend .columns;
    @extend .right;

    &.DNNEmptyPane + .o-content-pane {
      @extend .medium-12;
      @extend .columns;
      border-right: 0;
    }
  }
}

  // Half size HR
  .half-rule {
    margin: 40px auto;
    width: 100px;
  }
}

@media #{$medium-up} {
  [role='main'] {
    .o-aside-pane {
      padding-left: 20px;
    }
  }
}
