.off-canvas-wrap{
  position:relative;
  width:100%;
  overflow:hidden;
}

.off-canvas-wrap.move-right,.off-canvas-wrap.move-left,.off-canvas-wrap.move-bottom,.off-canvas-wrap.move-top {
  min-height:100%;
}

.inner-wrap{
  position:relative;
  width:100%;-webkit-transition:-webkit-transform 500ms ease;
  transition:transform 500ms ease
}

.inner-wrap:before,.inner-wrap:after {
  content:"";
  display:table
}

.inner-wrap:after{clear:both}

.tab-bar {
  background:$oil;
  color:#fff;
  height:2.8125rem;
  line-height:2.8125rem;
  position:relative
}

.tab-bar h1,.tab-bar h2,.tab-bar h3,.tab-bar h4,.tab-bar h5,.tab-bar h6{
  font-weight:bold;
  line-height:2.8125rem;
  margin:0;
}

.left-small {
  height:2.8125rem;
  position:absolute;
  top:0;
  width:2.8125rem;
  border-right:solid 1px #1a1a1a;
  left:0
}

.right-small {
  height:2.8125rem;
  position:absolute;
  top:0;
  width:2.8125rem;
  border-left:solid 1px #1a1a1a;
  right:0
}

.u-row {
  position: relative;
  top: 20px;
  z-index: 2;
}
.tab-bar-section {
  height:2.8125rem;
  padding:0 0.625rem;
  position:absolute;
  text-align:center;
  top:0;
}

.tab-bar-section.left {
  text-align:left
}

.tab-bar-section.right {
  text-align:right
}

.tab-bar-section.left {
  left:0;
  right:2.8125rem;
}

.tab-bar-section.right {
  left:2.8125rem;
  right:0;
}
.tab-bar-section.middle {
  left:2.8125rem;
  right:2.8125rem;
}

.tab-bar .menu-icon { 
  color:#fff;
  display:block;
  height:2.8125rem;
  padding:0;
  position:relative;
  transform:translate3d(0,0,0);
  width:2.8125rem;
}

a.left-off-canvas-toggle.menu-icon {
  display:block;
  height:0;
  position:absolute;
  left:0.90625rem;
  box-shadow:0 0 0 1px #fff,0 7px 0 1px #fff,0 14px 0 1px #fff;
  width:1rem;
  span{
    margin-left: 28px;
    text-transform: uppercase;
    font-size: rem-calc(15);
}
}

.left-off-canvas-menu {
  -webkit-backface-visibility:hidden;
  background:$oil;
  bottom:0;
  box-sizing:content-box;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style:-ms-autohiding-scrollbar;
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  -webkit-transition:-webkit-transform 500ms ease 0s;
  transition:transform 500ms ease 0s;
  width:15.625rem;
  z-index:1001;
  transform:translate3d(-100%,0,0);
  left:0;
  top:0
}

.move-right>.left-off-canvas-menu {
  transform:translate3d(0%,0,0)
}

.right-off-canvas-menu {
  -webkit-backface-visibility:hidden;
  background:#fff;
  bottom:0;
  box-sizing:content-box;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style:-ms-autohiding-scrollbar;
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  -webkit-transition:-webkit-transform 500ms ease 0s;
  transition:transform 500ms ease 0s;
  width:15.625rem;z-index:1001;
  -webkit-transform:translate3d(100%,0,0);
  -ms-transform:translate(100%,0);
  transform:translate3d(100%,0,0);
  right:0;
  top:0
}

.top-off-canvas-menu {
  background:#fff;
  bottom:0;
  box-sizing:content-box;
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  transition:transform 500ms ease 0s;
  width:15.625rem;
  z-index:1001;
  -webkit-transform:translate3d(0,-100%,0);
  -ms-transform:translate(0,-100%);
  transform:translate3d(0,-100%,0);
  top:0;
  width:100%;
  height:18.75rem
}

.bottom-off-canvas-menu {
  background:#fff;
  bottom:0;
  box-sizing:content-box;
  overflow-x:hidden;
  overflow-y:auto;
  position:absolute;
  transition:transform 500ms ease 0s;
  width:15.625rem;
  z-index:1001;
  transform:translate3d(0,100%,0);
  bottom:0;
  width:100%;
  height:18.75rem
}

ul.off-canvas-list {
  list-style-type:none;
  margin:0;
  padding:0
}
ul.off-canvas-list li {
  list-style-type:none;
}
ul.off-canvas-list li label{
  background:#444;
  border-bottom:none;
  border-top:none;
  color:#fff;
  display:block;
  font-size:1rem;
  font-weight:bold;
  margin:0;
  padding:0.3rem 0.3rem;
  text-transform:uppercase
}
ul.off-canvas-list li a {
  border-bottom:none;
  color:#fff;
  display:block;
  padding:.3rem;
  transition:background 300ms ease
}
ul.off-canvas-list li a:hover {
  background:#000;
}
ul.off-canvas-list li a:active {
  background:#999
}

.off-canvas-wrap.move-right>.inner-wrap {
  transform:translate3d(15.625rem,0,0);
  background-color: white;
}
.move-left .exit-off-canvas {
  -webkit-backface-visibility:hidden;
  box-shadow:-4px 0 4px rgba(0,0,0,0.5),4px 0 4px rgba(0,0,0,0.5);
  cursor:pointer;
  -webkit-transition:background 300ms ease;
  transition:background 300ms ease;
  -webkit-tap-highlight-color:transparent;
  background:rgba(0,0,0,0.3);
  bottom:0;display:block;
  left:0;
  position:absolute;
  right:0;
  top:0;
  z-index:1002
}
a.left-off-canvas-toggle.menu-icon span::after {
  box-shadow:0 0 0 1px #888,0 7px 0 1px #888,0 14px 0 1px #888;
}
a.off-canvas-submenu-call {
  font-weight: bold;
  font-size: rem-calc(20);
  span.right {
    font-weight: normal;
    color: #f2f2f2;
    font-size: rem-calc(18);
}
}

.c-navigation__phone {
  color: $success-color;
  float: right;
  clear:both;
  padding-right: 20px;
}

a.c-navigation__phone {
  @media #{$medium-up} {
}
}

ul.c-navigation {
  @extend .medium-6;
  @extend .columns;
  display: none;
  @media #{$medium-up} {
    list-style-type: none;
    display: inline;
    float: right;
    clear: both;
    margin-top: -25px;
    li {
      float: left;
      padding-right: 30px;
      text-transform: uppercase;
      font-size: rem-calc(15);
  }
}
}

.banner-wrap {
  background-image: linear-gradient(0deg, rgba(73, 73, 73, 0) 0%, rgba(26, 26, 26, 0.64) 60%, rgba(9, 9, 9, 0.77) 90%, #2b2828 130%);
  height: 220px;
  z-index: 1;
  position: relative;
  padding-top: 20px;
}

.slider-item {
  height: 100vh;
}

.slider-image {
  height: 100vh !important;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -220px;
}
.o-brand {
  @extend .columns;
  @extend .medium-6;
  @extend .small-12;
  @extend .right;
  img#dnn_ctl01_imgLogo {
    max-width: 150px;
    float: left;
  }
}

span.first {
  font-size: rem-calc(40);
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

span.second {
  font-size: rem-calc(40);
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.support-tagline { 
  margin-top: -10px;
  margin-bottom: 30px;
  span {
    color: white;
    font-size: rem-calc(20);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
  }
}
